{
  "env": {
    "development": {
      "presets": [
        "env",
        "stage-2"
      ]
    },
    "test": {
      "presets": [
        "env",
        "stage-2"
      ]
    },
    "test_local": {
      "presets": [
        "env",
        "stage-2"
      ]
    }
  }
}